extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-projects
    .inner-wrapper.flex-row-wrap.two-col
      .project-info-box.box

        h1= project_name

        p= description
        
      .project-tech-links-box.box
        h6 Technologies


        ul
          if technologies.length
            each technology in technologies
              li= technology

        a.btn-link(href= live_link, target='_blank') Live Demo
        a.btn-link(href= github_link, target='_blank') GitHub Repo

    .project-img-box.box

      //- Skipping the first image url in the array because it's the same as the thumbnail and proportions make it look otherwise ugly on the page
      if image_urls.length
      each url, index in image_urls.slice(1)
        img.project-img(src=url, alt=project_name)

    nav.nav
      a(href='/')
        span &larr;
        |  Back
